body {
  margin: 0;
  padding: 0;
  background-image: url("/images/3125085.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.grid-Min-Max {
  display: flex;
  justify-content: space-between;
}
